<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>wootheeparse</servlet-name>
    <servlet-class>is.tagomor.woothee.demo.Parse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>wootheeapi</servlet-name>
    <servlet-class>is.tagomor.woothee.demo.Api</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wootheeparse</servlet-name>
    <url-pattern>/parse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wootheeapi</servlet-name>
    <url-pattern>/api</url-pattern>
  </servlet-mapping>
</web-app>
